[Unit]
Description=PythonUDPClientDaemon

[Service]
ExecStart=/usr/share/pucd/rcvu.py
Restart=always
Type=forking
PIDFile=/var/run/pucd.pid

[Install]
WantedBy=multi-user.target
