body { margin: 0px 0px 0px 0px; }
#remote_video {
  width: 100%;
  height :100vh;
  position: absolute;
  margin: auto;
}
#sound {
  background: transparent; 
  border: none;
  padding: 0em 5em;/* 上下・左右 */
}
#speaker {
  width: 32px;
  height: 32px;
}
.container{
  display: flex;
  justify-content: right; /* */
  align-items: right;/* */
  position: absolute;
  left: 0; top: 22%;
  width: 100%; 
  height: 10%; 
  overflow: visible;
  z-index: 12345;
  opacity: 10;
  transform: scale(.98, .98);
}
.rotate90 {
-webkit-transform: rotate(90deg);
}
